html { 
  background: url(image5.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div{
	margin-top: 250px;
	text-align: center;
	color: white;
}